* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif; 
}

body{
    background-color: #778BBE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoContainer > img {
    max-width: 400px;
}

.principalContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.principalTitle{
    font-weight: 700;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
    text-align: center;
}

.inputBtnContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.msgErrorContainer{
    height: 30px;
}

.msgError{
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.formSubmit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    gap: 10px;
}

#btnSubmit, #pomemonId{
    width: 100%;
}

#pokemonId{
    max-height: 30px;
    padding-left: 10px;
    font-size: 20px;
    font-weight:bolder;
}

#btnSubmit{
    border-radius: 15px;
    background-color: rgba(220, 20, 60, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
    font-size: 20px;
    height: 40px;
    font-weight: 700;
}

.cardContainer{
    background-color:rgba(248, 234, 220, 1) ;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.nameContainer{
    width: 80%;
    background-color: rgba(245, 155, 173, 1);
    border-radius: 15px;
    border: 2px solid #000000;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameContainer > p {
    font-weight: 600;
    font-size: 20px;
}

.imgContainer{
    height: 300px;
    background-color: white;
    border-radius: 15px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer > img {
    max-height: 250px ;
    max-width: 290px;
}

.typesContainer{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.typesContainer > div{
    border-radius: 15px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
    border: 2px solid black;
}

.type__electric{
    background-color: rgba(235, 173, 14, 1);
}

.type__grass{
    background-color: rgb(11, 150, 67);
}

.type__psychic{
    background-color: rgb(70, 115, 212);
}

.type__ghost{
    background-color: rgb(113, 113, 113);
}

.type__normal{
    background-color: burlywood;
}

.type__bug{
    background-color: khaki;
}

.type__steel{
    background-color: rgb(57, 57, 57);
}

.type__fire{
    background-color: rgb(204, 54, 54);
}

.type__flying{
    background-color: rgb(106, 213, 242);
}

.type__water{
    background-color: rgb(41, 35, 189);
}

.type__poison{
    background-color: rgb(147, 79, 193);
}

.type__ground{
    background-color: rgb(131, 100, 92);
}

.type__fairy{
    background-color: rgb(253, 229, 238);
}

.type__fighting{
    background-color: rgb(79, 76, 48);
}

.type__rock{
    background-color: rgb(33, 31, 34);
}

.type__ice{
    background-color: rgb(80, 145, 140);
}

.type__dragon{
    background-color: rgb(204, 154, 28);
}

.type__dark{
    background-color: rgb(0, 0, 0);
}

.featuresContainer{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.featuresContainer > div {
    background-color: rgb(159, 222, 249);
    border-radius: 15px;
    min-width: 40%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 5px;
    border: 2px solid rgb(106, 134, 147);
}


@media screen and (max-width: 450px){
    main{
        width:95%;
    }
  }